.background {
    --s: 125px;
    background:
        linear-gradient(135deg, #0000 18.75%, #598392 0 31.25%, #0000 0),
        repeating-linear-gradient(45deg, #598392 -6.25% 10.25%, #AEC3B0 0 18.75%);
    background-size: var(--s) var(--s);
}

.logo-spacing {
    letter-spacing: -3px;
}

.nav-logo {
    font-size: 62px;
}

.nav-text,
.heading-text,
.account-text,
.transaction-text,
.goal-text {
    color: #124559;
}

.nav-other-text,
.institution-text {
    color: #598392;
}

.red-text {
    color: #b74040;
}

.settings-container,
.transaction-text,
.dash-container-rows,
.auth-container {
    position: relative;
    z-index: 0;
}

.settings-container,
.main-dashboard {
    height: 100%;
    max-height: 90vh;
}

.landing-section,
.navbar-container,
.container-row-top {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 0px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.settings-container,
.bottom-left-container,
.bottom-right-container,
.auth-container {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.settings-container,
.auth-container {
    border-radius: 0 0 20px 20px;
}

.container-background,
.navbar-container {
    background-color: #EFF6E0;
}

.landing-section {
    height: auto;
    max-height: 2000px;
}

.settings-container,
.container-row-top {
    height: 720px;
    max-height: 60%;
}

.bottom-left-container,
.bottom-right-container {
    height: 400px;
}

.bottom-left-container {
    border-radius: 0 0 0 20px;
}

.bottom-right-container {
    border-radius: 0 0 20px 0;
}

#sign-up,
#toggle-check,
#back-dash,
#dropdown-basic,
#btn-add,
#btn-completed-goals,
#btn-edit,
#auth-login-btn,
#auth-signup-btn,
#goal-add-btn,
#tx-add-btn,
#acct-add-btn,
#acct-edit-btn,
#logout-btn,
#btn-delete,
#acct-delete {
    background-color: #124559;
    border-color: #124559;
    color: #EFF6E0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

#sign-up:hover,
#toggle-check:hover,
#back-dash:hover,
#dropdown-basic:hover,
#btn-add:hover,
#btn-completed-goals:hover,
#btn-edit:hover,
#auth-login-btn:hover,
#auth-signup-btn:hover,
#goal-add-btn:hover,
#tx-add-btn:hover,
#acct-add-btn:hover,
#acct-edit-btn:hover {
    background-color: #598392;
    border-color: #598392;
    color: #EFF6E0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

#goal-msg-bg,
#pie-msg-bg {
    background-color: #EFF6E0;
    border-color: #AEC3B0;
    color: #124559;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

#logout-btn:hover,
#btn-delete:hover,
#acct-delete:hover {
    background-color: #b74040;
    border-color: #b74040 !important;
}

.custom-success {
    background-color: #598392 !important;
    color: #EFF6E0 !important;
}

.custom-warning,
.contrast-heading {
    background-color: #AEC3B0 !important;
    color: #124559 !important;
}

.progressbar-main {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    height: 30px !important;
    position: relative;
    z-index: 0;
}

.flip-horizontal {
    transform: scaleX(-1);
    display: inline-block;
    margin-right: -3px;
}

.my-accordion-body,
.accordion-button,
.accordion-button:focus {
    background-color: #EFF6E0 !important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #EFF6E0;
    outline: 0;
    box-shadow: none !important;
}

.overflow-y-auto::-webkit-scrollbar {
    width: 14px;
}

.overflow-y-auto::-webkit-scrollbar-track {
    background-color: #AEC3B0;
    border-radius: 5px;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
    background-color: #EFF6E0 !important;
    border-radius: 5px;
    border: 3px solid #AEC3B0;
}

.dropdown-item-custom:hover {
    background-color: #124559 !important;
    color: #EFF6E0 !important;
}

.modal-tx-custom {
    max-height: 575px;
    overflow-y: auto;
}

.active-feature .card {
    background-color: #e6e6e6;
    transform: scale(1.05);
    transition: all 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.feature-cards {
    height: 300px;
}

/* monthly budget transactions */
.nameColumn {
    width: 30%;
}

.dateColumn {
    width: 20%;
}

.amountColumn {
    width: 25%;
}

.categoryColumn {
    width: 25%;
}

.max-height-accounts {
    max-height: 90%;
}

@media (max-width: 1200px) {
    .feature-cards {
        height: 350px
    }
}

@media (max-width: 991px) {
    .landing-section {
        height: auto;
        max-height: 3000px;
    }

    .feature-cards {
        height: 150px;
    }

    .settings-section {
        margin: 0 auto;
        max-height: 300px;
    }

    .settings-container {
        height: 1100px;
    }

    .container-row-top {
        height: auto;
    }

    .bottom-left-container,
    .bottom-right-container {
        height: 450px;
    }

    .bottom-left-container {
        border-radius: 0;
    }

    .bottom-right-container {
        border-radius: 0 0 20px 20px;
    }
}


@media (max-height: 1150px) {
    .container-row-top {
        height: 550px;
    }
}

@media (max-width: 1200px) {
    .modal-tx-custom {
        max-height: 375px;
        overflow-y: auto;
    }
}
