.background {
    --s: 100px;
    background:
        linear-gradient(135deg, #0000 18.75%, #598392 0 31.25%, #0000 0),
        repeating-linear-gradient(45deg, #598392 -6.25% 6.25%, #EFF6E0 0 18.75%);
    background-size: var(--s) var(--s);
}

.logo-spacing {
    letter-spacing: -3px;
}

.nav-logo {
    font-size: 52px;
}

.dark-text {
    color: #01161ed4;
}

.nav-text {
    color: #124559dd;
}

.nav-b-text {
    color: #598392
}

.navbar-container {
    background-color: #EFF6E0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.nav-height {
    height: 8vh;
}

.main-content {
    height: calc(100vh - 12vh);
}

.container-row-top {
    height: 60%;
}

.container-row-bot {
    height: 40%;
}

.container-shadow {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.container-background {
    background-color: #EFF6E0;
}

#dropdown-basic,
#btn-add,
#btn-completed-goals,
#btn-edit {
    background-color: #124559;
    border-color: #124559;
    color: #EFF6E0;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

#dropdown-basic:hover,
#btn-add:hover,
#btn-completed-goals:hover,
#btn-edit:hover {
    background-color: #598392;
    border-color: #598392;
    color: #EFF6E0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

#goal-msg-bg {
    background-color: #EFF6E0;
    border-color: #AEC3B0;
    color: #01161E;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

#logout-btn,
#btn-delete {
    background-color: #598392;
    border-color: #598392;
    color: #EFF6E0;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

#logout-btn:hover,
#btn-delete:hover {
    background-color: #b74040;
    border-color: #b74040 !important;
}

.custom-success {
    background-color: #598392 !important;
    color: #EFF6E0 !important;
}

.custom-warning {
    background-color: #AEC3B0 !important;
    color: #124559 !important;
}

.progressbar-main {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    height: 30px !important;
}

.barchart-main {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.institution-text {
    color: #598392 !important;
}

.institution-text-stale {
    color: #b74040;
}

.account-text {
    color: #124559;
}

.transaction-text {
    color: #124559ab
}

#barchart-container {
    width: 100%;
    height: 100%;
}

.flip-horizontal {
    transform: scaleX(-1);
    display: inline-block;
    margin-right: -3px;
}
